@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('/fonts/Manrope-ExtraBold.otf') format('opentype');
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts//Manrope-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts//Manrope-SemiBold.otf') format('opentype');
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts//Manrope-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts//Manrope-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('/fonts//Manrope-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('/fonts//Manrope-ExtraLight.otf') format('opentype');
}
