.react-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  background-color: rgba(255, 255, 255, 0.95);
  padding: 20px;
  border-radius: 5px;
  outline: none;
  min-width: 250px;

  @media (max-width: 427px) {
    top: 100%;
    border-radius: 0px;
    transform: translateY(-100%) translateX(-50%);
    width: 100%;
  }
}

.react-modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.698);
}
